<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Reset Password</title>  
    </head>  
    <body>
        <center>
            <h2>Enter new password:</h2>
            <form action="#" th:action="@{/reset-password}" th:object="${user}" method="post">  
                <table>  
                    <tr>  
                        <td><label for="emailId">Email</label></td>  
                        <td><input th:field="*{emailId}" type="text" name="emailId" readonly></input></td>  
                    </tr>              
                    <tr>  
                        <td><label for="password">Password</label></td>  
                        <td><input th:field="*{password}" type="password" name="password"></input></td>  
                    </tr>  
                    <tr>  
                        <td><input type="reset" value="Clear"/></td>  
                        <td><input type="submit" value="Submit"></input></td>  
                    </tr>  
                </table>  
            </form> 
        </center> 
    </body>  
</html>  
